    body * {
    margin:3px;
    padding:3px;
    display:block;
    /* border:1px solid #6c3e1f; */
    border:none;
    background-color:rgb(18, 18, 18);
    color:white;
    text-decoration: none;
    }

    /* body > *:hover {
    background-color:gray;
    color:#999;
    } */

    html, * { 
        font-size:10px; 
        background-color:rgb(18, 18, 18);
    }

    script,
    style {
    display: none
    }

    h1 { 
        font-size:2.7rem;
    }
    h2 { font-size:2.2rem;}
    h3, h4 { font-size:1.8rem; }
    header, main, article, aside, footer { font-size:1.7rem;}
    p, li, a, span, time { font-size:1.6rem; }

    body, main {
    font-family:arial, sans-serif;
    width:1198.4px;
    margin:0px auto;
    padding:0px;
    }

    body > header {
    display:block;
    width:1192.4px;
    height:fit-content;
    /* background-color:#fff; */
    background-position:center right;
    background-repeat:no-repeat;
    background-size:cover;
    }

    nav {
    margin:0px;
    margin-bottom:7px;
    display:block;
    border:none;
    width:1192.4px;
    height:60px;
    position:sticky;
    top:0px;
    background-color:#5A4027;
    z-index:45;
    }

    nav ul, nav ul li, nav a {
    height:-webkit-fill-available;
    height:-moz-fill-available;
    height:fill-available;
    display:inherit;
    }
    nav ul {
    list-style-type:none;
    background-color:#5A4027;
    border-color:#5A4027;
    }
    nav ul li {
    float:left;
    }
    nav a {
    padding:5px;
    text-decoration:none;
    }

    article > h1 {
    flex:1 100%;
    }
    main > article, main > article > section, main > article >
    div, .comments, .comments aside {
    border:1px solid #5A4027;
    margin:2px;
    }

    main > article {display:flex;flex-flow: row wrap;}
    main > article, main > article > section, main > article > div {flex:1
    100%; }
    main > article div {
        flex: 3 0px; 
        order:1; 
        overflow-wrap: break-word;
        word-wrap: break-word; 
        white-space: pre-wrap;
        max-width:55%;
        max-height:60vh;
        overflow-y:auto;
    }

    li {
        border:1px;
        color:brown;
        padding:-3px;
        margin:-2px;
        background-color:transparent;
    }

    .menubutton {
        width:fit-content;
        border:none;
        padding:10px;
        display:inline;
        font-size:1.2rem;
        text-decoration:none;
        border-radius:4px;
        background-color:rgb(54, 54, 54);
    }

    .menubutton:hover {
        background-color:rgb(64,64,64);
    }

    .menubuttontext {
        background-color:transparent;
        border:none;
    }

    .moviemenu {
        align-items: center;
        background-color:none;
        margin:-1px;
        padding:-3px;
        list-style:none;
        display:flex;
        height:auto;
        width:100%;
        align-items:middle;
        border:none;
        background:none;
    }

    .reviewmenu {
        align-items: center;
        margin-left:-2px;
        padding:none;
        list-style:none;
        display:flex;
        height:25px;
        width:200px;
        align-items:middle;
        border:none;
    }

    .movie-item > h1 {
    flex:1 100%;
    top: 75px;
    background-color: #5A4027;
    z-index: 20;
    }

    .movie-item {
        /* border:none; */
        display:flex;
        flex-direction:row;
        height:396px;
    }

    .reviewer {
        border:none;
        color:gray;
    }

    .movietitle {
        display:flex;
        height: 2.5rem;
        border:none;
        margin:none;
        align-self:center;
        font-size: 2.5rem; 
        white-space: nowrap; /* Prevent wrapping */
        overflow: hidden;    /* Hide overflow */
        text-overflow: ellipsis;
        width: auto;
        background-color:transparent;
        padding-left:-2px;
        margin-left:12px;
    }

    .movie-content {
        width: fit-content;
    }

    body > footer {
    text-align:right;
    font-size:1.2rem;
    }

    .maintitle{
        background: rgba(18,18,18,.5);
        border-radius: 5px;
    }

    .moviebutton {
        width:fit-content;
        display:inline;
        margin:4px;
        padding:0px;
        font-size:1.2rem;
        text-decoration:none;
        border-radius:4px;
        background-color:#5A4027;
        margin-top:3px;
    }

    .moviebutton:hover {
        background-color:#6c3e1f;
    }

    .moviebuttontext {
        border:none;
        background-color:transparent;
        padding:none;
        margin:none;
    }

    .mainbar { 
        display:flex;
        border:none;
        justify-content: center;
        background-image:url('../assets/sewerimg.png');
        align-items:center;
        text-align:center;
        margin: 0 auto;
        height:200px;
    }

    #movietextedit {
        height:100px;
    }

    .reviews {
        overflow:auto;
        border:none;
        top: 10px;
        height:386px;
        margin:0px;
        padding:-3px;
        margin-top:3px;
        width:100%;
    }

    .review {
        margin-bottom:-3px;
        margin-top:6px;
    }

    .reviewstitle {
        margin-top:-3px;
        margin-bottom:-2px;
        margin-left:8px;
    }

    .reviewtext {
        overflow-wrap:break-word;
        overflow:auto;
        border:none;
    }

    .movie-poster {
        height:335px;
        border:none;
        padding:none;
        margin:none;
        margin-bottom:1px;
        margin-left:-1px;
        margin-top:-5px;
        background-color:transparent;
    }

     @media screen and (min-width:800px) and (max-width:1023px) {
        body {
        width:760px;
        }
    } 

     @media screen and (max-width:799px) {
        body {
        width:100%;
        }
    } 

    @media screen and (max-width:639px) {
        nav li {
        width:100%;
        }
        main > article > div, main > article > section {
        flex:1 auto;
        width:100%;
        }
    }