    body * {
    margin:3px;
    padding:3px;
    display:block;
    /* border:1px solid #6c3e1f; */
    background-color:rgb(18, 18, 18);
    color:white;
    text-decoration: none;
    font-family: Poppins-regular;
    font-weight: 500;
    font-style: normal;
    }

    textarea {
        resize: none;
      }

    @font-face {
        font-family:'Poppins-medium';
        src: url("../fonts/Poppins-Medium.ttf") format('truetype');
    }

    @font-face {
        font-family:'Poppins-regular';
        src: url("../fonts/Poppins-Regular.ttf") format('truetype');
    }

    /* body > *:hover {
    background-color:gray;
    color:#999;
    } */

    html, * { 
        font-size:10px; 
        background-color:rgb(18, 18, 18);
    }

    script,
    style {
    display: none
    }

    h1 { 
        font-size:2.7rem;
    }
    h2 { font-size:2.2rem;}
    h3, h4 { font-size:1.8rem; }
    header, main, article, aside, footer { font-size:1.7rem;}
    p, li, a, span, time { font-size:1.6rem; }

    body, main {
    font-family:arial, sans-serif;
    width:1198.4px;
    margin:0px auto;
    padding:0px;
    }

    body > header {
    display:block;
    width:1192.4px;
    height:fit-content;
    /* background-color:#fff; */
    background-position:center right;
    background-repeat:no-repeat;
    background-size:cover;
    }

    nav {
    margin:0px;
    margin-bottom:7px;
    display:block;
    border:none;
    width:1192.4px;
    height:60px;
    position:sticky;
    top:0px;
    background-color:#5A4027;
    z-index:45;
    }

    nav ul, nav ul li, nav a {
    height:-webkit-fill-available;
    height:-moz-fill-available;
    height:fill-available;
    display:inherit;
    }
    nav ul {
    list-style-type:none;
    background-color:#5A4027;
    border-color:#5A4027;
    }
    nav ul li {
    float:left;
    }
    nav a {
    padding:5px;
    text-decoration:none;
    }

    li {
        border:1px;
        color:brown;
        padding:-3px;
        margin:-2px;
        background-color:transparent;
    }

    .menubutton {
        width:fit-content;
        border:none;
        padding:10px;
        display:inline;
        font-size:1.2rem;
        text-decoration:none;
        border-radius:4px;
        background-color:rgb(54, 54, 54);
    }

    .menubutton:hover {
        background-color:rgb(64,64,64);
    }

    .menubuttontext {
        background-color:transparent;
        border:none;
    }

    .moviemenu {
        align-items: center;
        background-color:none;
        margin:-1px;
        padding:-3px;
        list-style:none;
        display:flex;
        height:auto;
        width:100%;
        align-items:middle;
        border:none;
        background:none;
    }

    .reviewmenu {
        align-items: center;
        margin-left:-2px;
        padding:none;
        list-style:none;
        display:flex;
        height:25px;
        width:200px;
        align-items:middle;
        border:none;
        background-color:transparent;
    }

    .movie-item > h1 {
    flex:1 100%;
    top: 75px;
    background-color: #5A4027;
    z-index: 20;
    }

    .movie-item {
        display:flex;
        border:2px solid #5A4027;
        flex-direction:row;
        height:fit-content;
        background-color:rgb(10,10,10);
        padding-top:6px;
        border-radius:5px;
    }

    .reviewer {
        border:none;
        color:gray;
        margin:0px;
        padding:0px;
        background-color:transparent;
        font-size:1.2rem;

    }

    .movietitle {
        font-family: Poppins-medium;
        font-weight: 500;
        display:flex;
        height: 3rem;
        border:none;
        margin:none;
        align-self:center;
        font-size: 2.5rem; 
        white-space: nowrap; /* Prevent wrapping */
        overflow: hidden;    /* Hide overflow */
        text-overflow: ellipsis;
        width: auto;
        background-color:transparent;
        padding-left:-2px;
        margin-left:12px;
    }

    .movie-content {
        width: fit-content;
        background-color:transparent;
    }

    body > footer {
    text-align:right;
    font-size:1.2rem;
    }

    .maintitle{
        background: rgba(18,18,18,.5);
        border-radius: 5px;
    }

    .moviebutton {
        width:fit-content;
        display:inline;
        white-space: nowrap;
        margin:4px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:6px;
        padding-right:6px;
        text-decoration:none;
        border-radius:4px;
        background-color:#5A4027;
        margin-top:3px;
        border:none;
    }

    .moviebutton:hover {
        background-color:#6c3e1f;
    }

    .moviebuttontext {
        border:none;
        padding:0px;
        background-color:transparent;
        margin:0px;
        font-size:1.4rem;
    }

    .mainbar { 
        display:flex;
        border:none;
        justify-content: center;
        background-image:url('../assets/sewerimg.png');
        align-items:center;
        text-align:center;
        margin: 0 auto;
        height:200px;
    }

    #movietextedit {
        height:100px;
    }

    .reviews {
        overflow:auto;
        border:none;
        top: 10px;
        height:370px;
        margin:0px;
        padding:-3px;
        margin-top:3px;
        width:100%;
        background-color:transparent;
    }

    .review {
        margin-bottom:-3px;
        margin-top:0px;
        padding-top:0px;
        background-color:transparent;
    }

    .reviewstitle {
        margin-top:-3px;
        margin-bottom:-2px;
        margin-left:8px;
        background-color:transparent;
    }

    .reviewtext {
        overflow-wrap:break-word;
        overflow:auto;
        border:none;
        background-color:transparent;
        margin-bottom:0px;
    }

    .loginbody {
        background-color:transparent;
    }

    .logininput {
        border-style:solid;
        box-shadow: none;
        border-color: rgb(54,54,54);
        background-color:rgb(64,64,64);
        border-radius:3px;
        height:25px;
        font-size:1.5rem;
        width:180px;
    }

    .loginlabel {
        padding:0px;
        font-size:1.5rem;
        background-color:transparent;
    }

    .loginform {
        position:relative;
        background-color:transparent;
        width:fit-content;
        padding:10px;
        border-radius:10px;
        left:495px;
        top:130px;
    }

    .loginimg {
        position:absolute;
        margin-top:-150px;
        margin-left:260px;
        background-color:transparent;
    }

    .loginbutton {
        padding:10px;
        background-color:transparent;
        font-size:1.5rem;
        width:fit-content;
        background-color:rgb(54, 54, 54);
        border:none;
        border-radius:5px;
        margin-top:10px;
        margin-left:60px;
    }

    .loginbutton:hover {
        background-color:rgb(64,64,64);
    }

    .noreviewtext {
        overflow-wrap:break-word;
        overflow:auto;
        border:none;
        margin-left:8px;
        background-color:transparent;
    }

    .movie-poster {
        height:335px;
        border:none;
        padding:none;
        margin:none;
        margin-bottom:1px;
        margin-left:-1px;
        margin-top:-5px;
        background-color:transparent;
    }

    .addreviewbody {
        background-color:transparent;
    }

    .addreviewinput {
        border-style:solid;
        box-shadow: none;
        border-color: rgb(54,54,54);
        background-color:rgb(64,64,64);
        border-radius:3px;
        height:25px;
        font-size:1.5rem;
        width:180px;
    }

    .addreviewlabel {
        padding:0px;
        font-size:1.5rem;
        background-color:transparent;
    }

    .addreviewform {
        background-color:#5A4027;
        position:relative;
        width:fit-content;
        padding:10px;
        border-radius:10px;
    }

    .addreviewtext {
        border:1px solid #5A4027;
        background-color:rgb(54,54,54);
    }

    .userinfo {
        background-color:rgb(64,64,64);
        padding:10px;
        width:fit-content;
    }

    .usertext {
        background-color:transparent;
        font-size:1.5rem;
    }

    .usertitle {
        background-color:rgb(54, 54, 54);
        width:fit-content;
        padding-left:10px;
        padding-right:10px;
        border-radius:5px;
    }

    .edituserinput {
        border-style:solid;
        box-shadow: none;
        border-color: rgb(54,54,54);
        background-color:rgb(84,84,84);
        border-radius:3px;
        height:25px;
        font-size:1.5rem;
        width:180px;
    }

    .edituserbutton {
        padding:7px;
        background-color:transparent;
        font-size:1.5rem;
        width:fit-content;
        background-color:rgb(54, 54, 54);
        border:none;
        border-radius:5px;
        padding-top:5px;
    }

    .movie-container { 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 10px; 
        margin-top: 20px; 
    }

    .movie-card { 
        background: #1e1e1e; 
        color: white; 
        padding: 10px; 
        padding-bottom:5px;
        border-radius: 10px; 
        width: 250px; 
        max-height: 760px; 
        text-align: left; 
    }

    

    .movieselectbutton {
        width:fit-content;
        display:inline;
        font-size:1.6rem;
        margin:4px;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:6px;
        padding-right:6px;
        text-decoration:none;
        border-radius:4px;
        background-color:#5A4027;
        margin-top:3px;
        border:none;
    }

    .movieselectbutton:hover {
        background-color:#6c3e1f;
    }

    .rating { 
        font-weight: bold; color: #FFD700; 
    }

    
    .edituserbutton:hover {
        background-color:rgb(64,64,64);
    }

    .selectform { 
        background-color:transparent;
    }

    .reviewRatingul {
        background-color:transparent;
        display:flex;
        flex-direction:row;
    }

    .homerating {
        background-color:transparent;
        margin-right:0px;
        padding-right:0px;
        color: #FFD700;
    }
    
    .ratingli {
        background-color:transparent;
        margin-right:0px;
        padding-right:0px;
    }

    .ratingp {
        background-color:transparent;
        padding:0px;
        margin:0px;
        font-size:1.4rem;
    }

    .ratingli2 {
        background-color:transparent;
    }

    .ratingp2 {
        background-color:transparent;
        padding:3px;
        margin:3px;
        font-size:1.4rem;
        padding-left:0px;
        margin-left:0px;
    }

    .ratingoutput {
        background-color:transparent;
        font-size:1.4rem;
        padding-right:0px;
        margin-right:0px;
    }

    .userreviewinfo {
        background-color:transparent;
        display:flex;
        flex-direction:row;
        margin-top:0px;
    }

    .userrating {
        background-color:transparent;
        padding:0px;
        margin:0px;
        color:gray;
        font-size:1.2rem;
    }

    .userreviewli {
        background-color:transparent;
    }

     @media screen and (min-width:800px) and (max-width:1023px) {
        body {
        width:760px;
        }
    } 

     @media screen and (max-width:799px) {
        body {
        width:100%;
        }
    } 

    @media screen and (max-width:639px) {
        nav li {
        width:100%;
        }
        main > article > div, main > article > section {
        flex:1 auto;
        width:100%;
        }
    }