    body * {
    margin:3px;
    padding:3px;
    display:block;
    border:1px solid #6c3e1f;
    background-color:rgb(18, 18, 18);
    color:white;
    }

    /* body > *:hover {
    background-color:gray;
    color:#999;
    } */

    html, * { 
        font-size:10px; 
        background-color:rgb(18, 18, 18);
    }

    script,
    style {
    display: none
    }

    h1 { 
        font-size:3rem;
    }
    h2 { font-size:2.7rem;}
    h3, h4 { font-size:2.2rem; }
    header, main, article, aside, footer { font-size:1.8rem;}
    p, li, a, span, time { font-size:1.6rem; }

    body, main {
    font-family:arial, sans-serif;
    width:1198.4px;
    margin:0px auto;
    padding:0px;
    }

    body > header {
    display:block;
    width:1192.4px;
    height:fit-content;
    /* background-color:#fff; */
    background-image:url('../assets/header_large.jpg');
    background-position:center right;
    background-repeat:no-repeat;
    background-size:cover;
    }

    nav {
    margin:0px;
    margin-bottom:7px;
    display:block;
    width:1192.4px;
    height:70px;
    position:sticky;
    top:0px;
    background-color:#5A4027;
    z-index:45;
    }

    nav ul, nav ul li, nav a {
    height:-webkit-fill-available;
    height:-moz-fill-available;
    height:fill-available;
    display:inherit;
    }
    nav ul {
    list-style-type:none;
    background-color:#5A4027;
    border-color:#5A4027;
    }
    nav ul li {
    float:left;
    }
    nav a {
    padding:10px;
    text-decoration:none;
    }
    nav a:link, nav a:visited {
    color:#fff;
    background-color:#000;
    }
    nav a:hover, nav a:active {
    color:#000;
    background-color:#fff;
    }

    article > h1 {
    flex:1 100%;
    }
    main > article, main > article > section, main > article >
    div, .comments, .comments aside {
    border:1px solid #6c3e1f;
    margin:2px;
    }

    /* .comments {
        width:auto;
    } */

    main > article {display:flex;flex-flow: row wrap;}
    main > article, main > article > section, main > article > div {flex:1
    100%; }
    main > article div {
        flex: 3 0px; 
        order:1; 
        overflow-wrap: break-word;
        word-wrap: break-word; 
        white-space: pre-wrap;
        max-width:55%;
        max-height:60vh;
        overflow-y:auto;
    }
    main > article > section.comments {flex:1 auto;order:2; width:250px;}

    article > h1 {
    flex:1 100%;
    top: 75px;
    background-color: #6c3e1f;
    z-index: 20;
    }

    #articletitle {
        border:none;
        height: 37px;
    }

    body > footer {
    text-align:right;
    font-size:1.2rem;
    }

    .mainbar { 
        display:flex;
        justify-content: center;
        background-image:url('../assets/MainBanner.png');
        align-items:center;
        text-align:center;
        margin: 0 auto;
    }

    #articletextedit {
        height:100px;
    }

    #comments {
        overflow-y:auto;
        max-height:51vh;
    }

    .commenttext {
        overflow-y:auto;
        max-height:40vh;
    }

    #articletext {
        overflow-y:auto;
        max-height:31vh;
    }


     @media screen and (min-width:800px) and (max-width:1023px) {
        body {
        width:760px;
        }
    } 

     @media screen and (max-width:799px) {
        body {
        width:100%;
        }
    } 

    @media screen and (max-width:639px) {
        nav li {
        width:100%;
        }
        main > article > div, main > article > section {
        flex:1 auto;
        width:100%;
        }
    }